:80

root * /app/.web/_static
file_server

@backend {
    path /_event/*
    path /ping
    path /_upload/*
}
reverse_proxy @backend backend:8000

reverse_proxy /graphql backend:8000 {
    header_up Connection {>Connection}
    header_up Upgrade {>Upgrade}
}
