
# Caddyfile Configuration

cerrajerialjr.com.ar {

encode gzip

# Route backend requests
@backend_routes path /_event/* /ping /_upload /_upload/*
handle @backend_routes {
	reverse_proxy localhost:8000
}

# Forward remaining requests to frontend
reverse_proxy localhost:3000
}
